{% extends "encyclopedia/layout.html" %}

{% block title %} edit {{ title }} {% endblock %}

{% block body %}
    <form method="post" action="{% url 'edit' %}">
        {% csrf_token %}
        <input type="hidden" name = "entry_type_edit" value= "{{title}}">
        <label>entry informtion</label>
        <div>
            <textarea class="data" name="d">
                {{ file }}
            </textarea>
        </div>
        <div>
            <button class="b" type="submit" >submit</button>
        </div>
        
    </form>
{% endblock %}