{% extends "auctions/layout.html" %}
{% block body %}
    {% for p in product %}
        <div>
            Listing: <b>{{ p.title }}</b>
        </div>
        <div>
            <img src="{{p.url}}">
        </div>
        <div>
            {{p.des}}
        </div>
        <div>
            ${{p.bid}}
        </div>
        <div>
            {% if buyer %}
                <b>{{p.last_bid}}</b> is the one who suggested the biggest bid  
            {% else %}
                <b>{{p.last_bid}} bid </b>
            {% endif %}
        </div>

        <!-- {% url 'product' name=p.title %} -->
        {% if owner %}
            <!-- need to complete-->
            <input class="btn btn-primary" type="submit" value="sell">
        {% else %}
            <form action="{% url 'product' name=p.title %}" method="post">
                {% csrf_token %}
                <!--hidden-->
                <input type="hidden" name="last_bid" value="{{p.bid}}"> 
                <input type="hidden" name="owner" value="{{p.owner}}"> 
                <input type="hidden" name="username" value="{{ user.username }}">
                
                <div class="form-group">
                    <input class="form-control" type="number" name="bid" placeholder="bid">
                </div>
                <input class="btn btn-primary" type="submit" value="buy">
            </form>
        {% endif %}


    {% endfor %}
{% endblock %}