form {
    text-align: center;
}
a {
    margin: 3px;
    text-align: right;
    float: right;
}
.t {
    margin-top: 20px;
    margin-left: 90px;
    border-radius: 20px;
    padding: 20px; 
    width: 250px;
    height: 0px;
}

.t_g {
    margin-top: 20px;
    margin-left: 200px;
    border-radius: 20px;
    padding: 20px; 
    width: 300px;
    height: 0px;
}

.b_s, .b_i{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.b {
    box-shadow: none;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    border: 1px solid #3079ed;
    color: #fff;
    margin-top: 10px;
}
.t_a {
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    margin-top: 7px;
    padding: 1px 8px;
}

.t_a1 {
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    margin-top: 7px;
    padding: 1px 8px;
}

.al_1 {
    margin-right: 18px;
}

.al_2 {
    margin-right: 77px;
}

.al_4 {
    margin-right: 80px;
}

.al_3 {
    margin-right: 100px;
}